<!DOCTYPE html>
<html>
<head>
    <title>Student Directory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Student Directory</h1>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
	    {% for message in messages %}
                <p class="flash-message">{{ messages }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %} 



    <form action="/add" method="POST">
        <label for="name">Name:</label>
        <input id="name" type="text" name="name" required>

        <label for="school">School:</label>
        <input id="school" type="text" name="school" required>

        <button type="submit">Add Student</button>
    </form>

    {% if students %}
        <ul>
            {% for student in students %}
                <li>
                    {{ student[1] }} — {{ student[2] }}

                    <a href="/edit/{{ student[0] }}">Edit</a>

                    <form action="/delete/{{ student[0] }}" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No students yet.</p>
    {% endif %}
</body>
</html>
